{% extends 'aplicacion1/home.html'%}

{%block pagina%}
    <div class="sidebar-heading border-bottom bg-light">Figuras/Juguetes</div>
{% endblock pagina%}

{% block contenido%}
    <h2>Figuras/Juguetes Disponibles</h2>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Saga</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
    {% for f in figuras %}
            <tr>
                <td>{{f.id}}</td>
                <td>{{f.nombre}}</td>
                <td>{{f.saga}}</td>
                <td>{{f.precio}}</td>
            </tr>
    {%endfor%}
        </tbody>
    </table>
        
{% endblock contenido%}