{% extends 'aplicacion1/home.html'%}

{%block pagina%}
    <div class="sidebar-heading border-bottom bg-light">Juegos</div>
{% endblock pagina%}

{% block contenido%}
    <h2>Listado de juegos</h2>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Género</th>
                <th>Clasificación</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
    {% for j in juegos %}
            <tr>
                <td>{{j.id}}</td>
                <td>{{j.nombre}}</td>
                <td>{{j.genero}}</td>
                <td>{{j.clasificacion}}</td>
                <td>{{j.precio}}</td>
            </tr>
    {%endfor%}
        </tbody>
    </table>
        
{% endblock contenido%}