{% extends 'aplicacion1/home.html'%}

{%block pagina%}
    <div class="sidebar-heading border-bottom bg-light">Usuarios Registrados</div>
{% endblock pagina%}

{% block contenido%}
    <h2>Lista de usuarios registrados</h2>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Mail</th>
            </tr>
        </thead>
        <tbody>
    {% for u in usuarios %}
            <tr>
                <td>{{u.id}}</td>
                <td>{{u.nombre}}</td>
                <td>{{u.apellido}}</td>
                <td>{{u.email}}</td>
            </tr>
    {%endfor%}
        </tbody>
    </table>
        
{% endblock contenido%}