{% extends 'aplicacion1/home.html'%}

{%block pagina%}
    <div class="sidebar-heading border-bottom bg-light">Vendedores</div>
{% endblock pagina%}

{% block contenido%}
    <h2>Lista de Vendedores Activos</h2>
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Numero de Vendedor</th>
            </tr>
        </thead>
        <tbody>
    {% for v in vendedores %}
            <tr>
                <td>{{v.id}}</td>
                <td>{{v.nombre}}</td>
                <td>{{v.apellido}}</td>
                <td>{{v.numeroV}}</td>
            </tr>
    {%endfor%}
        </tbody>
    </table>
        
{% endblock contenido%}